body{
    background-image: url("../assets/images/Star-Wars-LOTI.jpg");
    color:#fff;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width:200px;
    height:150px;
    border-width: thick;
    border-radius: 25px;
    position: relative;
    left:35px;

   
}
label{
    text-align: center;
    padding:5px;
    background-color:black;
    width:100%;
    margin-bottom:0px;
    
}
.setup{
    padding:20px;
    background-color: black;
    text-align: left;
    width:500px;

}
/* .opponents{
    display:flex;
    flex:wrap; 
    overflow: hidden;

} */
.green{
    float:left;
}
.red{
    float:left;
}
.avatar{
    margin-top:0px;
    margin-bottom:0px;
    
}
.jedi{
    border:8px solid greenyellow;
    

}

.darkside{
    border:8px solid red;

}
.battlefield{
    overflow: hidden;
    position: relative;
    right:10px;
    text-align: center;

}







